/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

header {
    background-color: #2f7fc9;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
    border-radius: 25px;
    width:100px;
}
nav li:hover{
    background-color: rgb(0, 0, 0);
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

section {
    background-color: #fff;
    padding: 2em;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

button {
    background-color: #f60b0b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border:none;
    border-radius: 10px;
}

button:hover {
    background-color: #6149ed;
}

/* Hero Section Styles */

#hero {
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    background-size: 100% 300px;
    background-position: 0% 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#hero h1 {
   font-size: 48px;
    margin-bottom: 20px;
}

#hero p {
    font-size: 24px;
    margin-bottom: 40px;
}

/* About Section Styles */

#about {
    background-color: #dee6eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* Videos Section Styles */

.video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.video-card {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.video-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
}

.video-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.video-card p{
    text-align:justify;
}

/* Subscribe Section Styles */

#subscribe {
    background-color: #589aea;
    color: #fff;
    padding: 2em;
    text-align: center;
}

#subscribe button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
}

#subscribe button:hover {
    background-color: #ccc;
}

.subs a{
    color:white;
}

/* Responsive Styles */

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
    section {
        margin-bottom: 10px;
    }
   .video-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    main {
        flex-direction: column;
    }
    section {
        margin-bottom: 5px;
    }
   .video-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}